{% extends 'finalp/index.html' %}

{% block contenido %}

<h1> Aqui puede ver las consolas disponibles </h1>

<div class="consolas">
   <nav class="navbar navbar-light bg-light static-top">
      <div class="container">
          <a class="navbar-brand" href="/consolas/crear/">Registrar consola</a>

     <ol>
        {% for p in consolas %}
        <li>

        <h2> {{ p.nombre }}</h2>
        <p>Marca: {{ p.marca }}</p>
        <p>Fecha de lanzamiento: {{ p.fecha_lanzamiento }}</p>
        <p>Precio: ${{ p.precio }}</p>
            
        </li>   
        {% endfor %}
     </ol>
        



</div>
{% endblock %}