<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seccion de juegos</title>
</head>
<body>

    <h1> Aqui puede ver los juegos disponibles </h1>

    <div class="juegos">
        

        <ol>
            {% for p in juegos %}
            <li>

            <h2> {{ p.nombre }}</h2>
            <p>Fecha de lanzamiento: {{ p.fecha_lanzamiento }}</p>
            <p>Categoria: {{ p.categoria }}</p>
            <p>Precio: ${{ p.precio }}</p>
            
            </li>   
            {% endfor %}
        </ol>
        



    </div>
    
</body>
</html>